@font-face {
    font-family: 'Furgatorio Tiling';
    src: url('./Furgatorio_Titling.ttf') format('truetype'); /* Update this path */
}

@font-face {
    font-family: 'Chicago';
    src: url('./ChicagoFLF.ttf');
}
@font-face {
    font-family: 'pixel-nes';
    src: url('./Pixel_NES.otf') format('truetype'); /* Update this path */
}
@font-face {
    font-family: 'ibm-nerd';
    src: url('./IBM_3270.otf');
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'ibm-nerd', 'VT323','Computer Says No', 'Courier New', monospace;
    font-size: 20px;
    background-color: #050a30;
    color: #ff914d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.left-side, .right-side {
    padding: 20px 0;
}

.left-side {
    flex: 1;
    overflow-y: auto;
}

.right-side {
    border-top: 1px solid #ff914d;
    padding-top: 20px;
}

h1, h2 {
    font-family: 'ibm-nerd', 'Furgatorio Tiling', 'Arial', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    color: #d3d1d1; /* Adjust this to your preferred text color */
    text-shadow: 0 0 5px #ff914d, /* Orange glow */
                 0 0 10px #ff914d,
                 0 0 20px #ff914d,
                 0 0 30px #ff914d;
    animation: glow 3.0s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px #ff914d,
                     0 0 5px #ff914d,
                     0 0 10px #ff914d,
                     0 0 15px #ff914d;
    }
    to {
        text-shadow: 0 0 5px #ff914d,
                     0 0 10px #ff914d,
                     0 0 20px #ff914d,
                     0 0 30px #ff914d;
    }
}


#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    margin-bottom: 20px;
    padding: 10px 0;
    /* border-bottom: 1px solid #ff914d; */
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.task-info {
    /* flex-grow: 1; */
    flex: 0 1 auto;
    margin-right: 20px;
}

.timer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    /* margin: 10px 0; */
}

.timer-container span {
    margin-right: 10px;
}

.timer {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 15px;
    min-width: 80px;
}

.task-buttons {
    margin-top: 10px;
}

.task-buttons button {
    margin-right: 10px;
    margin-bottom: 5px;
}

button {
    background-color: #ff914d;
    /* background-color: #a0a0a0; */
    color: #000;
    /* border: none; */
    border: 1px solid #000;
    border-radius: 1px;
    padding: 5px 10px;
    /* margin-right: 50px; */
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.8);
    font-family: 'ibm-nerd', 'Courier New', monospace;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0px 0px 10px rgba(76, 175, 80, 0.8);
    transform: scale(1.05);
    transition: all 0.2s ease;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

label {
    flex-basis: 100%;
}

input[type="text"], input[type="number"] {
    background-color: #050a30;
    border: 1px solid #fc924b;
    color: #fc924b;
    padding: 5px;
    font-family: 'idm-nerd', 'Courier New', monospace;
}

.error {
    color: #ff4444;
    font-size: 0.8em;
    margin-top: 5px;
}
.tooltip {
    cursor: help;
    position: relative;
    display: inline-block;
    color: #007bff;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #050a30;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ff914d;
    width: 70%;
    max-width: 600px;
    color: #ff914d;
    font-family: 'ibm-nerd', 'VT323', 'Courier New', monospace;
}

.popup-content h2 {
    text-align: center;
    font-family: 'ibm-nerd', 'Furgatorio Tiling', 'Arial', sans-serif;
}

.popup-content ul {
    list-style-type: none;
    padding-left: 20px;
}

.popup-content ul li:before {
    content: "> ";
    color: #ff914d;
}

#closePopup {
    display: block;
    margin: 20px auto 0;
}

.dont-show-again {
    margin-top: 20px;
    font-size: 0.9em;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#confirmationPopup .popup-content {
    text-align: center;
}

#taskDetails {
    margin: 20px 0;
    text-align: left;
    padding: 10px;
    border: 1px solid #ff914d;
    background-color: rgba(255, 145, 77, 0.1);
}

.countdown-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100px;
    margin-left: 2px;
}

.countdown-container {
    margin-top: 5px;
    text-align: left;
}

.countdown {
    font-weight: bold;
    color: #ff914d;
    font-size: 30px;
}

/* footer styles */
footer {
    padding: 10px;
    text-align: center;
  }
  
  footer a {
    font-size: 10px;
    font-weight: 300;
    border-radius: 1.61803398875; /* Silver ratio */
    padding: 7px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #ff914d;
  }
  
  /* Add hover to anchor tags */
  footer a:hover {
    box-shadow: 7px 7px 7px #050a30 inset,
    -10px -10px 10px white inset;
  }
  .footer-link {
      font-family: 'ibm-nerd', sans-serif;
      font-weight: 300;
      font-size: 15px;    
      padding: 5px;
      justify-content: right;
  }
  .copyright {
    padding: 5px;
    font-family: 'ibm-nerd', sans-serif;
    font-weight: normal;
    font-size:15px
  }
